# 1. Ignore EVERYTHING inside the images folder
images/*
# 2. EXCEPT for the logo (Git will track this!)
!images/logo.png
# 3. Exception for any other design icons  might have
!images/favicon.ico
# Ignore database backups
*.sql
# 4.db
partials/_dbconnect.php
